:root {

  --white-color: #fff;
  --theme-color: #409eff;
  --theme-shallow-color: #79bbff;
  --theme-deep-color: #337ecc;
  
  --accent-color: #409eff;
  --accent-hover: #a0cfff;
  --accent-active: #337ecc;
  --gray-color: #dedfe1;
  
  --bg-color: #409eff;
  --bg-deep-color: #337ecc;
  --bg-img: linear-gradient(to left bottom, #c2dfff 0%,#5daeff 100%);

  --scroll-radius: 4px;
  --scroll-width: 10px;
  --scroll-color: #ff5a3e;
}